/* add css module styles here (optional) */

.test {
    margin: 2em;
    padding: 0.5em;
    border: 2px solid #000;
    font-size: 2em;
    text-align: center;
}

.qjp-slate-editor {
    width: 100%;
}

.qjp-slate-editor blockquote {
    padding-left: 10px;
    border-left: 2px solid #ccc;
}